//for below 768px screen width
@media screen and (max-width:768px) {
    #navbar {
        flex-direction: column;
        align-items: flex-start;

        .navbar__menu {
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin-top: 10px;
            display: none;
        }

        .navbar__toggle-btn {
            display: block;
        }
    }

    .about__majors {
        flex-direction: column;
        margin: 20px;

        .major {
            margin: 10px;
        }
    }

    .skillset {
        flex-direction: column;
    }

    .category__btn {
        margin: 5px;
    }

    .project {
        flex-grow: 1;
    }

    .testimonials__avatar {
        // width: 80px;
        // height: 80px;
    }
}