//GROBAL SETUP
$red:#e63946;
$white:#f1faee;
$skyBlue: #a8dadc;
$blue:#457b9d;
$indigo:#1d3557;
$black: #000000;

$font-large:48px;
$font-medium:28px;
$font-regular:18px;
$font-small:16px;
$font-micro:14px;

$weight-bold:700;
$weight-semi-bold:600;
$weight-regular:400;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: $white;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.section {
    text-align: center;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}

//TYPOGRAPHY
h1 {
    font-size: $font-large;
    font-weight: $weight-bold;
    color: $black;
    margin: 16px 0;
}

h2 {
    font-size: $font-regular;
    font-weight: $weight-semi-bold;
    color: $black;
    margin: 8px 0;
}

h3 {
    font-size: $font-regular;
    font-weight: $weight-regular;
    color: $black;
    margin: 8px 0;
}

p {
    font-size: $font-regular;
    font-weight: $weight-regular;
    color: $black;
    margin: 4px 0;
}

//NAVBAR
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $skyBlue;
    padding: 18px;
    color: white;

    .navbar__logo {
        display: flex;
        align-items: center;
        font-size: $font-medium;
        font-weight: $weight-semi-bold;
        letter-spacing: 4px;
        margin-left: 10px;
    }

    .navbar__menu {
        display: flex;

        .navbar__menu__item {
            padding: 10px;
            margin: 0 10px;
            font-size: $font-regular;
            cursor: pointer;
            border-radius: 4px;

            &:hover {
                background: $indigo;
            }

            &.active {
                border: 1px solid $white;
            }
        }
    }
}

//SECTION-HOME
#home {
    background: url('./img/background.png') center/cover no-repeat;
    text-align: center;
    padding: 80px 0;

    .home__avatar {
        width: 250px;
        height: 250px;
        background: $white;
        border-radius: 50%;
        object-fit: contain;
        background: white;
    }

    .home__title,
    .home__description {
        color: $white;
    }

    .home__contact {
        color: $white;
        font-size: $font-regular;
        font-weight: $weight-semi-bold;
        margin-top: 24px;
        padding: 8px 12px;
        border: 2px solid $white;
        border-radius: 4px;
    }
}

//SECTION-ABOUT
.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;

    .major {
        img {
            width: 200px;
            height: 200px;
            border: 1px solid $blue;
            border-radius: 50%;
            padding: 20px;
            margin-bottom: 16px;
            transition: all 100ms ease-in;
        }

        .major__description {
            color: gray;
            font-size: $font-small;
        }

        &:hover img {
            padding: 7px;
            border: 3px solid $indigo;
        }

        &:hover .major__description {
            color: $black;
        }
    }
}