@import './_variables';
@import './_global';
@import './_typography';

//NAVBAR
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $skyBlue;
  padding: 18px;
  color: white;

  .navbar__logo {
    display: flex;
    align-items: center;
    font-size: $font-medium;
    font-weight: $weight-semi-bold;
    letter-spacing: 4px;
    margin-left: 10px;
    color: $white;
  }

  .navbar__menu {
    display: flex;

    .navbar__menu__item {
      padding: 10px;
      margin: 0 10px;
      font-size: $font-regular;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background: $indigo;
      }

      &.active {
        border: 1px solid $white;
      }
    }
  }

  .navbar__toggle-btn {
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: white;
    display: none;
  }
}

//SECTION-HOME
#home {
  background: url("./img/background.png") center/cover no-repeat;
  text-align: center;
  // padding: 80px 0;

  .home__avatar {
    width: 250px;
    height: 250px;
    background: $white;
    border-radius: 50%;
    object-fit: contain;
    background: white;
  }

  .home__title,
  .home__description {
    color: $white;
  }

  .home__contact {
    color: $white;
    font-size: $font-regular;
    font-weight: $weight-semi-bold;
    margin-top: 24px;
    padding: 8px 12px;
    border: 2px solid $white;
    border-radius: 4px;
  }
}

//SECTION-ABOUT
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;

  .major {
    img {
      width: 200px;
      height: 200px;
      border: 1px solid $blue;
      border-radius: 50%;
      padding: 20px;
      margin-bottom: 16px;
      transition: all 100ms ease-in;
    }

    .major__description {
      color: gray;
      font-size: $font-small;
    }

    &:hover img {
      padding: 7px;
      border: 3px solid $indigo;
    }

    &:hover .major__description {
      color: $black;
    }
  }
}

//SECTION-SKILLS
#skills {
  background: $white;

  .skillset {
    display: flex;
    background: $skyBlue;
    margin: 20px 0;

    .skillset__left {
      flex-basis: 60%;
      padding: 20px 40px;

      .skill {
        .skill__description {
          display: flex;
          justify-content: space-between;
        }

        .skill__bar {
          width: 100%;
          height: 4px;
          background: $white;
          margin-bottom: 32px;

          .skill__value {
            width: 70%;
            height: 4px;
            background: $red;
          }
        }
      }
    }

    .skillset__right {
      flex-basis: 40%;
      background: $blue;
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .skillset__title {
        color: $white;
        margin-bottom: 10px;
      }

      .tools {
        flex-basis: 70%;
        padding: 20px;
        line-height: 1.5;
      }

      .etc {
        background: $indigo;
        flex-basis: 30%;
        padding: 20px;
        line-height: 1.5;
      }
    }
  }
}

//SECTION-WORK
.work__categories {
  margin: 40px;

  .category__btn {
    border: 1px solid $black;
    border-radius: 4px;
    font-size: $font-regular;
    padding: 8px 48px;
    color: $black;

    &:hover,
    &.active {
      background: $indigo;
      color: $white;
    }

    &:hover .category__count,
    &.active .category__count {
      top: 0;
      opacity: 1;
    }

    .category__count {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: $red;
      color: $white;
      border-radius: 50%;
      line-height: 24px;
      position: relative;
      top: -20px;
      opacity: 0;
      transition: all 100ms ease-in;
    }
  }
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .project {
    width: 280px;
    height: 250px;
    margin: 2px;
    background: lightgray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover .project__description {
      opacity: 0.8;
      transform: translateY(0);
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .project__description {
      position: absolute;
      top: 0;
      left: 0;
      background: $black;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      opacity: 0;
      transition: all 100ms ease-in;
      transform: translateY(10px);

      h3 {
        color: $white;

        &:after {
          content: "";
          display: block;
          width: 25px;
          height: 3px;
          background: $white;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 10px;
        }
      }
    }
  }
}

//SECTION-TESTIMONIALS
#testimonials {
  background: $skyBlue;
  padding: 30px;
  margin-top: 40px;

  .testimonials {
    margin: 40px;

    .testimonial {
      display: flex;
      margin: 30px 0;

      .testimonials__avatar {
        width: 150px;
        height: 150px;
        object-fit: contain;
        border-radius: 50%;

        &:nth-child(odd) {
          margin-right: 40px;
        }

        &:nth-child(even) {
          margin-left: 40px;
        }
      }

      .testimonials__speechBubble {
        background: $white;
        border-radius: 4px;
        padding: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          color: $black;
        }

        a {
          color: palevioletred;
        }
      }
    }
  }
}

//CONTACT
#contact {
  background: $blue;
  padding: 20px;

  .contact__title,
  .contact__email,
  .contact__rights {
    color: white;
  }

  .contact__title {
    margin: 32px 0;
  }

  .contact__links {
    margin: 24px 0;
    font-size: $font-large;
    transition: all 100ms ease-in;

    i:hover {
      transform: scale(1.1);
      //   color: $red;
    }
  }
}

//for below 768px screen width
@media screen and (max-width:768px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;

    .navbar__menu {
      flex-direction: column;
      text-align: center;
      width: 100%;
      margin-top: 10px;
      display: none;
    }

    .navbar__toggle-btn {
      display: block;
    }
  }

  .about__majors {
    flex-direction: column;
    margin: 20px;

    .major {
      margin: 10px;
    }
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 5px;
  }

  .project {
    flex-grow: 1;
  }

  .testimonials__avatar {
    // width: 80px;
    // height: 80px;
  }
}