@media screen and (max-width: 768px){
    .navbar__toggle-btn{
        display: block !important;
    }
    
    #navbar{
        flex-direction: column;
        align-items: flex-start !important;
    }

    #navbar .navbar__menu{
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }
    #navbar .navbar__menu.open{
        display: block;
    }

    .about__majors{
        flex-direction: column;
    }
    .major{
        margin-bottom: 40px;
    }

    .skillset{
        flex-direction: column;
    }
    .tools{
        margin-bottom: 20px;
    }


    .work__categories{
        display: flex !important;
        flex-direction: column;
    }
    .work__categories button{
        margin-bottom: 5px;
    }
    .work__projects{
        flex-direction: column;
        align-items: center;
    }
}